@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #5153e4;
    --branco: #21c4da;
    --laranja: #ffffff;
    --azul-degrade: linear-gradient(97.54deg, #f34646 35.49%, 55#7f61cf 165.37%);
    --fonte-principal: "Poppins";
    --azul: #ffffff;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #ffffff;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}